#frame {
  margin: 100px auto;
  width: 880px;
  height: 880px;
  padding: 20px;
  border-radius: 2px;
  background-color: #b6a89c;
  display: table;
  border-radius: 1%;
  display: flex;
  flex-wrap: wrap;

}

.box {
  width: 200px;
  margin: 10px;
  height: 200px;
  border-radius: 2px;
  background-color: #ccbfb4;
}

.s2 {
  width: 50%;
  height: 50%;
  margin : 10px;
  background-color: #eee4da;
  border-radius: 2px;
  text-align: center;
  font-size: 6rem;
}
