<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>CC - 2048</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Host by heroku</h1>
    <div id="frame">
    </div>
    <script src="./js/test.js" charset="utf-8"></script>
  </body>
</html>
